body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica, sans-serif;
}

#mainBody {
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    
}

#sidePanel {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    min-height: 100%;
    min-width: 100px;
    margin-left: 30px;
}

button {
    background-color: antiquewhite;
    border: 2px black solid;
    border-radius: 10px;
    color: black;
    width: 125px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

#mainPanel {
    background-color: antiquewhite;
    display: flex;
    flex: auto;
    flex-direction: column;
}

#texPanel {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    text-align: center;
    font-size: 40pt;
    font-weight: 700;
}

.about {
    text-align: center;
}
#gamePanel {
    min-width: 500px;
    min-height: 500px;
    background-color: aliceblue;
    border: 2px black;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 30px;
    box-shadow: 3px whitesmoke;
    
}

.gameDiv {
    background-color: antiquewhite;
    flex: 1;
}